.locations {
  width: 302px;
  height: 390px;
  border-left: 1px solid #000000;
}

.head {
  height: 68px;
  border-bottom: 1px solid #000000;
  display: flex;

  background-color: #fff;
}

.header {
  margin-left: 18px;
  font-size: 24px;
  line-height: 28px;
  margin-top: 35px;
}

.listLocations {
  line-height: 28px;
}

.cities {
  width: 299px;
  height: 300px;
  font-size: 24px;
  padding: 25px 0px 39px 18px;
  overflow: auto;
}

.cityNameWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cityName {
  margin: 5px;
  margin-bottom: 12px;
}

.cityName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.deleteButton {
  background-color: #ffff;
  border: none;
  cursor: pointer;
  padding-right: 15px;
}

@media (max-width: 960px) {
  .locations {
    width: 252px;
    height: 339px;
  }

  .head {
    height: 58px;
  }

  .header,
  .cityName {
    font-size: 21px;
  }

  .header {
    margin-top: 30px;
  }

  .cities {
    width: 249px;
    height: 200px;
    padding: 15px 0px 30px 10px;
  }

  .cityName {
    margin: 3px;
    margin-bottom: 7px;
  }
}

@media (max-width: 375px) {
  .locations {
    width: 172px;
    height: 255px;
  }

  .head {
    height: 42px;
    width: 170px;
  }

  .header,
  .cityName {
    font-size: 17px;
  }

  .header {
    margin: 12px;
  }

  .cities {
    width: 172px;
    height: 212px;
    padding: 12px 5px 25px 8px;
  }

  .cityName {
    margin: 1px;
  }

  .deleteButton {
    padding-right: 5px;
  }
}
