* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/assets/fonts/Roboto-Regular.ttf');
}

body {
  background-color: #e5e5e5;
}

.wrapper {
  margin: 150px auto;
  width: 621px;
  height: 462px;
  background-color: #ffff;
  padding: 14px 9px 13px 12px;
  font-family: 'Roboto';
}

.content {
  width: 600px;
  height: 440px;
  border: 1px solid #000000;
}

/* Search */
.searchField {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
}

.searching,
.searchingButton {
  outline: none;
  border: none;
}

.searching {
  width: 525px;
  height: 45px;
  font-size: 18px;
  margin-left: 16px;
  line-height: 21px;
}

.searchingButton {
  background-color: #ffff;
  cursor: pointer;
  position: relative;
  top: 7px;
}

/* Tabs */
.data {
  display: flex;
  flex-direction: row;
}

.tabsContent {
  width: 298px;
  height: 389px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

/* Navigation */
.navigation {
  border-top: 1px solid #000000;
  display: flex;
  flex-direction: row;

  background-color: yellowgreen;
}

button {
  border: none;
}

.now,
.details,
.forecast {
  width: 99px;
  height: 45px;
  background-color: #fff;
  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.now,
.details {
  border-right: 1px solid #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.now:hover,
.now:active,
.details:hover,
.details:active,
.forecast:hover,
.forecast:active {
  background-color: #000000;
}

a:hover,
a:active {
  color: #ffff;
}

.active {
  background-color: #000000;
}

.link {
  color: #ffff;
}

@media (max-width: 960px) {
  .wrapper {
    margin: 100px auto;
    width: 521px;
    height: 412px;
  }

  .content {
    width: 500px;
    height: 390px;
  }

  .searching {
    width: 425px;
    font-size: 15px;
  }

  .searchingButton {
    top: 5px;
  }

  .tabsContent {
    width: 248px;
    height: 339px;
  }

  .now,
  .details,
  .forecast {
    width: 90px;
    height: 35px;
    font-size: 15px;
  }
}

@media (max-width: 440px) {
  .wrapper {
    margin: 50px auto;
    width: 355px;
    height: 330px;
  }

  .content {
    width: 335px;
    height: 305px;
  }

  .searching {
    width: 255px;
  }

  .searchingButton {
    top: 7px;
  }

  .tabsContent {
    width: 162px;
    height: 254px;
  }

  .navigation {
    width: 163px;
  }

  .now,
  .details,
  .forecast {
    width: 60px;
    height: 35px;
    font-size: 13px;
  }
}
